{% extends 'base.html' %}

{% block content %}
<p class="mt-4 text-primary">Here's you generated password </p>
<blockquote class="blockquote">
    <input readonly value="{{password}}" id="password-input">
    <a href="#" onclick="copyText()">Copy</a>
</blockquote>
<p class="text-success" id="confirmation"></p>
<a href="{% url 'index' %}"> Go Back</a>
<script>
    function copyText() {
        var val = document.getElementById("password-input");
        val.select();
        val.setSelectionRange(0, 99999);
        document.execCommand("copy");
        document.getElementById('confirmation').innerText = 'Password copied successfully!'
    }
</script>
{% endblock content %}